body {
    background-color: dimgray;
    font-family: Verdana Tahoma SansSerif;
}
.container {
    color: antiquewhite;
}
.externalMargin10 {
    margin: 10px;
}
.internalPadding5 {
    padding: 5px;
}
.inline-item  {
    display: inline-block;
    border: 1px red solid;
    margin: 5px;
    padding: 3px;
    width: 600px;
    text-align: center;
}